
@media print {
      body {
        margin: 0;
      }
      .a4 {
        width: 210mm;
        height: 297mm;
        box-shadow: none;
        border: none;
      }
    }

    .a4 {
      width: 210mm;
      height: 297mm;
      margin: auto;
      background: white;
      padding: 20mm;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

.all_fonts ,a{
    font-size: 10px;
    color: rgb(1, 33, 97);
    text-decoration: none;
}
.all_fonts1{
    font-size: 10px;
    color: rgb(0, 0, 0);
    margin:0; padding:0;
}


