{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block main-content %}
 <div class="w3-container" style="margin-top: 70px;">
       <div class="w3-container w3-animate-left">
        <h1 class="lao-noto">{{title}}</h1>
        <table class="w3-table w3-hoverable w3-striped w3-bordered">
            <tr class="w3-blue-dark-light w3-padding">
                <th class="w3-border" style="text-align: center; width: 5%;">ລຳດັບ</th>
                <th class="w3-border" style="text-align: center; width: 10%;">ລະຫັດໃບສະເຫນີລາຄາ</th>
                <th class="w3-border" style="text-align: center; width: 15%;">ບໍລະສັດ</th>
                <th class="w3-border" style="text-align: center; width: 19%;">ສິນຄ້າ</th>
                <th class="w3-border" style="text-align: center; width: 7%;">ລາຄາ</th>
                <th class="w3-border" style="text-align: center; width: 7%;">ຈຳນວນ</th>
                <th class="w3-border" style="text-align: center; width: 7%;">ໄລຍະເວລາ</th>
                <th class="w3-border" style="text-align: center; width: 10%;">ລາຄາລວມ</th>
                <th class="w3-border" style="text-align: center; width: 10%;">ວັນທີ່ຫມົດອາຍຸ</th>
                <th class="w3-border" style="text-align: center; width: 10%;">ການຈັດການ</th>
            </tr>
            {% for quotation in all_quotations %}
                <tr>
                    <td class="w3-border">{{forloop.counter}}</td>
                    <td class="w3-border">{{quotation.quotation_id}}</td>
                    <td class="w3-border">{{quotation.customer.company_name}}</td>
                    <td class="w3-border">
                        {% for item in quotation.items.all %}
                            {{forloop.counter}}. {{item.product_name}} <br>
                        {% endfor %}
                    </td>
                    <td class="w3-border" style="text-align: right; padding-right: 15px;">
                        {% for item in quotation.items.all %}
                            {{item.price}} USD <br>
                        {% endfor %}
                    </td>
                    <td class="w3-border" style="text-align: center;">
                        {% for item in quotation.items.all %}
                            {{item.qty}} <br>
                        {% endfor %}
                    </td>
                    <td class="w3-border" style="text-align: center;">
                        {% for item in quotation.items.all %}
                            {{item.period}} <br>
                        {% endfor %}
                    </td>
                    <td class="w3-border" style="text-align: right; padding-right: 15px;">
                        {% for item in quotation.items.all %}
                            {{item.total_one_product |intcomma}} USD <br>
                        {% endfor %}
                    </td>
                    <td class="w3-border" style="text-align: center;">{{quotation.expired_date|date:"d/m/Y"}}</td>
                    <td class="w3-border">
                        <a href="{% url 'app_quotations:quotation_details' quotation.quotation_id %}" class="w3-button w3-round-large w3-hover-shadow w3-green w3-hover-blue w3-padding-small w3-margin-small" style="width: 80px;">ລາຍລະອຽດ</a>
                        <a href="#" class="w3-button w3-round-large w3-hover-shadow w3-red w3-hover-deep-orange w3-padding-small w3-margin-small" style="width: 80px;">ລືບ</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="10" class="w3-red w3-text-white w3-padding">ບໍມີຂໍ້ມູນໃດໆ</td>
                </tr>
            {% endfor %}
        </table>
</div>
{% endblock %}