* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p, div, span, button{
    vertical-align: middle;
    /* font-family: 'Times New Roman'; */
}
header{
    margin-bottom: 20px;
}
hr{
    padding: 3px;
    margin: 3px;
}

.page {
    width: 210mm;
    min-height: 297mm;
    margin: 10px auto;
    padding: 5mm;
    border: 1px solid #ccc;
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    box-sizing: border-box;
    position: relative;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}


p {
    text-align: justify;
    font-size: 10px;
    padding: 2px;
    margin: 2px;
}
div.card-div {
    background-color: #cfe2f3;
}
div.div-insure_info {
    vertical-align: middle;
    width: 16.66%;
}
.placeholder {
    padding-top: 20px;
    width: 40px;
}
p.insure_info {
    font-size: 10px;
}
footer {
    position: absolute;
    bottom: 100px;
    left: 5mm;
    right: 5mm;
    width: calc(100% - 10mm);
}
footer, p{
    font-size: 12px;
}
/* @media Print  */
@media print {
    @page {
        size: A4;
		margin: 0;
    }
    body {
        margin: 0;
    }
    .page {
        margin: 0;
        page-break-after: always;
        box-shadow: none;
    }
    .page:last-child {
        page-break-after: auto;
    }
}
.float-btn{
    z-index: 999;
    position: fixed;
    right: 5%;
    bottom: 20px;
}
