{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block main-content %}
    <div class="w3-container" style="margin-top: 100px;">
       <div class="w3-container w3-animate-left">
            <h1 class="lao-noto">ຂໍ້ມູນລູກຄ້າ</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="w3-card-4 w3-padding w3-margin-bottom">
                    <h4 class="lao-noto">2. ຂໍ້ມູນລູກຄ້າ</h4>
                    {{ add_customer_form.non_field_errors }}
                    <div class="w3-row-padding">
                        {% for field in add_customer_form %}
                            <div class="w3-third w3-section">
                                <label class="w3-text-grey">{{ field.label }}</label>
                                {% render_field field class="w3-input w3-border w3-round-large" %}
                                {% if field.errors %}
                                    <div class="w3-text-red w3-small">{{ field.errors }}</div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <button type="submit" class="w3-button w3-green w3-hover-blue w3-padding-16">
                    ບັນທຶກ
                </button>
            </form>
{% endblock %}